.pdf_render_container {
  width: calc(100vw - 385px);
  height: calc(100vh - 140px);
  overflow-y: scroll;
  position: relative;

  @media screen and (max-width: 768px) {
    width: calc(100vw - 32px);
    height: 500px;

    overflow-y: auto;
    padding-right: 0;
  }
}

.pdf_viewer {
  width: calc(100vw - 400px);
  height: 100%;

  @media screen and (max-width: 768px){
    width: calc(100vw - 32px);
    height: 500px;
  }
}