.pdf_render_container {
  width: calc(100vw - 385px);
  height: calc(100vh - 150px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: calc(100vw - 32px);
    height: 600px;

    overflow-y: auto;
    padding-right: 0;
  }
}

.pdf_viewer {
  width: calc(100vw - 400px);
  height: 100%;

  @media screen and (max-width: 768px){
    width: calc(100vw - 32px);
    height: 500px;
  }
}

.pdf_download_button_container {
  margin-top: 16px;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.pdf_download_button {
  background-color: #1c1c20;
  padding: 6px 16px 8px;
  color: #fff !important;
  border-radius: 6px;
}